@media (min-width: 2500px) {
  .contenedorContenido {
    width: 25%;
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  .contenedorContenido {
    max-width: 100%;
    margin: 0 ;
  }

  .contenedorUpdate {
    max-width: 80%;
    margin: 0 auto;
  }

  .footer ul li {
    font-size: 0.9em;
  }
}

@media (max-width: 595px) {
  .contenedorPrincipal {
    padding: 2em;
  }

  nav ul li {
    display: block;
    padding: 0.5rem;
  }

  .contenedorUpdate {
    max-width: 100%;
    margin: 0;
  }

  .footer ul li {
    font-size: 0.8em;
    padding: 0.4rem 0.5rem;
  }

  .contenedorContenidoTexto {
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .contenedorPrincipal {
    padding: 1.3em;
  }

  .titulo {
    margin-bottom: 1rem;
  }

  nav {
    padding: 1rem 0;
  }

  nav ul li {
    display: block;
    padding: 0.5rem;
  }

  .contenedorUpdate {
    max-width: 100%;
    margin: 0;
  }

  .footer ul li {
    padding: 0.4rem 0.5rem;
  }

  .contenedorImagen {
    padding: 0 0 1rem 0;
  }

  .contenedorContenidoTexto {
    max-width: 100%;
    margin: 0;
  }

  .contenedorInfo {
    padding: 0;
  }

  .contenedorLinea {
    padding: 0;
  }

  .contenedorLinea hr{
    margin: 2rem 0;
  }

  .contenedorParrafos {
    padding: 0;
  }

  blockquote {
    font-size: 1em;
  }
}