@media (max-width: 825px) {
  h1 {
    font-size: 100px;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 17px;
  }

  .contenedorContenido {
    padding: 1rem;
  }
}

@media (max-width: 690px) {
  p {
    font-size: 14px;
  }

  ul li a {
    font-size: 14px;
  }
}

@media (max-width: 655px) {
  li {
    display: block;
    padding: 0.6rem;
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 60px;
  }

  .contenedorContenido {
    padding: 1rem 1rem 0em 1rem;
  }

  .iconos{
    bottom: 0px;
  }
}

@media (max-width: 320px) {
  h1 {
    margin-top: 0;
    font-size: 45px;
  }
  
  li {
    padding: 0.5rem;
  }

  ul li a {
    font-size: 10px;
  }

  .iconos{
    font-size: 20px;
  }
}




